<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <!-- Show Itens only to the logged_in user -->
  <% if @user == current_user %>
  <article>
    <h3>Pending Requests</h3>
    <% @user.pending_friends.each do |user| %>
    <br>
    <%= user.name %>
    <% end %>
  </article>
  <article>
    <h3>Friend Requests</h3>
    <% @user.friend_requests.each do |user| %>
      <br>
      <%= user.name %>
      <button><%=link_to 'Confirm', confirm_path(user_id: user.id), method: :post %></button>
      <button><%=link_to 'Deny', deny_friend_path(user_id: user.id), method: :delete %></button>
    <% end %>
  </article>
  <% end %>
</section>
