<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <!-- Show Itens only to the logged_in user -->
  <% if @user == current_user %>
  <article>
    <h3>Pending Requests</h3>
    <% @user.pending_friends.each do |user| %>
    <br>
    <%= user.name %>
    <% end %>
  </article>
  <article>
    <h3>Friend Requests</h3>
    <% @user.friend_requests.each do |user| %>
      <br>
      <%= user.name %>
      <%= form_for current_user.inverse_friendships.update(confirmed: true) do |f| %>
        <button>Accept</button>
      <% end %>
      <button><%= link_to 'Deny', ''%></button>
    <% end %>
  </article>
  <% end %>
</section>
